body{
   font-family: 'Poppins', sans-serif;
}

section {
    background-color: gray;
}

.hero {
    background-color: #0F3325;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    height: 500px;
    color: #ffd1dc;
    background-color: black;
    text-align: center;
    padding: 80px;

}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show{
    display: block;
}

li {
    
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

.hero-area{
    display: flex;
    height: 75%;
    justify-content: space-between;
    align-items: center;

}

.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
    padding: 50px;
}

.button {
    width: 200px;
    height: 65px;
    border-radius: 30px;
    background-color:#47192C;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #943B60;
}

.button:active{
    background-color: #ffc1cc;
    color: #C2FFCD;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 90px;
    margin: 30px;
}

.social {
    margin: 30px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    height: auto;
}

.projects-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}


.headshot{
    width: 300px;
    border-radius: 150px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}

.project-container{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 100){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

.project-link{
    text-decoration:none;
    color: rgb(244, 137, 155);
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width:1000px) {
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #12412f;
        margin: 0px;
    }

    ul.show{
        display: block;
        
    }

    nav{
       display: flex;
       flex-direction: column-reverse;
       background-color: #12412f;
    }

    .logo{
        display: none;
    }
}